.btn-group-custom{
    padding-left: 80%;
}

.settings{
    color:#FFCC00;
}

h4 {
    margin-top: 40px;
    text-transform: uppercase;
}

.table-responsive, a{
    color: #666666;
}

a:hover{
    color: #000000;
}

.glyphicon-ok{
    color: #339900;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
}
