body{
    background-color: #ffffff;

}

.empty-box h4{
    text-shadow: none;
}


.thumbnail{
    display: inline-block;
    background-color: #FFCC00;
    position: relative;
}

.btm-bottom{
    position: absolute;
    bottom: 2px;
    right: 5%;
}

.main-screen{
    position: absolute;
    min-height: 700px;
    background-color: #777777;
}

.thumbnail-custom{
    min-width: 250px;
}

a{
    color: #333333;
    text-shadow: none;
}

a:hover{
    text-decoration: none;
    color: #333333;
}

.thumbnail:hover{
    box-shadow: 0px 1px 30px #FFCC00;
    border: 1px solid #111;
}

.theme p{
    text-transform: uppercase;
    color: #009999;
    font-size: 12px;
    padding-left: 60%;
}

.points p{
    font-size: 20px;
    color: #993333;
    font-weight: bold;

}

.empty-box p{
    color: #333;
    font-size: 16px;

}

.empty-box h4{
    color: #FFCC00;
    font-size: 20px;
    font-weight: bold;
}

.glyphicon-ok{
    color: #009900;
}

.glyphicon-fire{
    color: #FF3300;
}

form{
    color: #000;
}

.container-filter{
    display: inline-block;
}

.container-filter input, select, button{
    margin-left: 40px;
    margin-right: 5px;
}

.filter{
    margin-bottom: 30px;
    //border: 1px solid #999999;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.site-wrapper-inner {
    margin-top: 8%;
}

.add{
    position: fixed;
}

.common-filter{
    margin-bottom: 20px;
}

