body{
    background-color: #ffffff;

}

.thumbnail{
    display: inline-block;
    background-color: #FFCC00;
    position: relative;
}

.btm-bottom{
    position: absolute;
    bottom: 2px;
    right: 5%;
}

.main-screen{
    position: absolute;
    min-height: 700px;
    background-color: #777777;
}

.thumbnail-custom{
    min-width: 250px;
}

a{
    color: #333333;
    text-shadow: none;
}

a:hover{
    text-decoration: none;
    color: #333333;
}

.thumbnail:hover{
    box-shadow: 0px 1px 30px #FFCC00;
    border: 1px solid #111;
}

.theme p{
    text-transform: uppercase;
    color: #009999;

    padding-left: 60%;
}

.points p{
    font-size: 20px;
    color: #993333;
    font-weight: bold;

}

.empty-box p{
    color: #333;
    font-size: 16px;

}

.empty-box h4{
    color: #FFCC00;
    font-size: 20px;
    font-weight: bold;
}
