.clearfix-custom{
    color: #000;
}

.clearfix-custom-help{
    color: #666666;
}

.clearfix-custom-errors{
    color: #CC0000;
}

.custom-button{
   color: #000;
}

.custom-button:hover{
    border: 2px solid #666666;
    box-shadow: 0px 0px 5px #FFCC00;
}
