body{
    background-image: url('http://2.bp.blogspot.com/-kVXStXiQSjA/UTNCUlt2W3I/AAAAAAAAUhY/rdJP79M9dU0/s1600/wood+backgrounds+(57).jpg');
    background-color: #444444;
    height: 700px;
    font-family: comic, tahoma, arial,
}

.custom-div{
    background-image: url(https://photos-5.dropbox.com/t/2/AAAOFsneRjz7NdHlXBaT72tyCwfl5Zws20hm2ywkh2gAfw/12/420186712/jpeg/32x32/1/_/1/2/background.jpg/EOP8tK8DGDggAigC/8XUpFSHHnMTfIaQpycX5sCrAr9dtCfFspo_uja9-mTQ?size=800x600&size_mode=2);
    background-size: 105%;
    background-position: center;
    margin-top: 12%;
    margin-bottom: 4%;
    margin-left: 40%;
    border: 2px solid #333;
    border-radius: 10%;
    width: 500px;
    background-color: #444777;
    text-shadow:1px 1px 3px #000;
    color: #333333;
}

.custom-div h1{
    color:#FFCC00;
}

.custom-div a:hover{
    background: #CCFF99;
}

.custom-div a{
    background: #FFCC66;
}
