body{
    background-image: url('http://2.bp.blogspot.com/-kVXStXiQSjA/UTNCUlt2W3I/AAAAAAAAUhY/rdJP79M9dU0/s1600/wood+backgrounds+(57).jpg');
    background-color: #444444;
    height: 700px;
    font-family: comic, tahoma, arial,
}

.custom-div{
    background-image: url(https://photos-1.dropbox.com/t/2/AAB0rJ3V0IjO5PgRvk2uHVO9CVDjVshjGtS8jk-KhX0RXw/12/420186712/jpeg/32x32/1/_/1/2/pencils.jpg/CNiUrsgBIAEgAiADIAQgBSAGIAcoAg/HU26dgK6Mzp2E7inqknQHtx0MS68zvvXIhkehG3S7rM?size=1024x768&size_mode=2);
    background-size: 105%;
    background-position: center;
    margin-top: 12%;
    margin-bottom: 4%;
    margin-left: 40%;
    border: 1px solid #FFF;
    border-radius: 10%;
    width: 500px;
    background-color: #444777;
    text-shadow:1px 1px 0px #333, -1px -1px 0px #333;

}

.custom-div h1{
    color:#FFCC00;
}

.custom-div a:hover{
    background: #CCFF99;
}
