{% extends "base.html" %}

{% load static from staticfiles %}

{% block title %}Mr. Pencil - удаление напоминалки {{ task.id }} {% endblock title %}


{% block custom_css %}
    <link href="{% static "css/form.css" %}" rel="stylesheet">
{% endblock custom_css %}



{% block main_content %}
  <h3> Напоминалка {{ task.title }} будет удалена!</h3><br>
    <!--Удаление напоминалки-->
    <form class ="custome" method="post">
      {% csrf_token %}
      <input id="custom_btn" class="btn btn-danger"  type='submit' value="Удалить">
    </form>
{% endblock main_content %}
